# dependencies
node_modules

# vscode
.vscode

# tests
integration-tests
ruleset-unit-tests

# github
.github

# documentation
docs

# linting/utils
.eslintrc.json
.prettierignore
.prettierrc.json
.husky

# env files
.env
.env.example
local.settings.json
