NODE_ENV=development

APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=00000000-0000-0000-0000-000000000000;IngestionEndpoint=https://localhost/

# Optional, but without it GitHub rate limiting will usually stop the rulesets
# and codelists downloading at startup. 
GITHUB_OAUTH_APP_CLIENT_ID=
GITHUB_OAUTH_APP_CLIENT_SECRET=

REDIS_PORT=6379
REDIS_HOSTNAME=redis  # replace with localhost if you run outside docker

VALIDATOR_SERVICES_URL=https://func-validator-services-dev.azurewebsites.net/api
VALIDATOR_SERVICES_KEY_NAME=x-functions-key
VALIDATOR_SERVICES_KEY_VALUE=

DATASTORE_SERVICES_URL=https://func-datastore-services-dev.azurewebsites.net/api
DATASTORE_SERVICES_AUTH_HTTP_HEADER_NAME=x-functions-key
DATASTORE_SERVICES_AUTH_HTTP_HEADER_VALUE=
DATASTORE_SERVICES_IATI_IDENTIFIERS_EXIST_MAX_NUMBER_OF_IDS=5000
